/*
Colors used:
Backgorund: #F4F4F2;
Header & Footer: #373457;
Button default: #621C8D;
Button hovered: #B56F7C;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #F4F4F2;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #373457;
}

b {
  font-weight: 600;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

.contact h2 {
  font-size: 1.7em;
  padding-bottom: 15px;
}

.skills h2 {
  margin-bottom: 0;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

.tools h3{
  margin-top: 0;
}

.animation h3 {
  margin-top: 0;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

.description {
  font-style: italic;
  text-align: center;
  margin-top: 0px;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
  height: auto;
}

a, a:visited {
  color: #621C8D;
  font-weight: 600;
  text-decoration: none;
}

a:hover, a:focus {
  opacity: 80%;
  text-decoration: underline;
}

a:active {
  color: #E28B3F;
}

.pdf, .pdf:visited {
  color: #373457;
  font-style: italic;
  text-align: center;
  font-weight: 300;
  margin-top: 0px;
}

.pdf:focus, .pdf:hover {
  font-weight: 500;
}

.pdf:active {
  color: #E28B3F;
}

.button, .button:visited {
  display: inline-block;
  min-width: 150px;
  text-align: center;
  color: #F4F4F2;
  background-color: #621C8D;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #495464;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover, .button:focus, .button.active {
  color: #F4F4F2;
  opacity: 80%;
  text-decoration: none;
}

header {
  background-color: #373457;
  padding: 10px;
  width: 100%;
  color: #F4F4F2;
  text-align: center;
  position: fixed;
  box-shadow: 0 4px 4px 0px rgb(50 50 50 / 30%);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a, a:visited {
  color: #F4F4F2;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.2s;
  transition-property: color, text-decoration;
}

nav ul li a:hover, a:focus, a:active {
  color: #E28B3F;
  text-decoration: underline;
}

.logo {
  max-width: 70px;
}

.logo:hover, .logo:focus {
    transform: rotate(20deg);
    transition: all 0.3s ease-in-out 0s;
}

main {
  padding-top: 120px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  border-bottom: 2px;
  border-color: #E8E8E8;
}

.hero h1 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}

.hero h1 span {
  font-size: 0.6em;
  display: block;
  margin-top: 1em;
}

.nobottommargin {
  margin-bottom: 0;
}

.ia {
  width: 60%;
  margin:auto;
}

.prototype {
  text-align: right;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}


#herebottomborder {
  padding-bottom: 20px;
  border-bottom: 2px solid #495464;
}

.resume {
margin: 10px 10px 10px 0;
}

footer {
  background-color: #373457;
  padding: 10px;
  color: #F4F4F2;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
  padding: 5px 20px;
}

footer h2 {
  margin-bottom: 10px;
}

#copyright {
  padding-top: 20px;
  font-size: .7em;
}

.button.contact, .button.contact:visited {
  background-color: transparent;
  color: #F4F4F2;
  border: 2px solid #F4F4F2;
  transition-property: background-color;
}

.button.contact:hover, .button.contact:focus, .button.contact:active {
  background-color: #F4F4F2;
  color: #495464;
  opacity: 100%;
}

@keyframes color-change {
  0% {
    fill: #1BD0F8;
  }

  25% {
    fill: #06195F;
  }

  50% {
    fill: #37065F;
  }

  75% {
    fill: #0DBC34;
  }

  100% {
    fill: #EDD70D;
  }
}

.cloud {
  animation-duration: 10s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes observe {
  from {
    transform: translate(0 0);
  }

  to {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-600px, 0)
  }
}

.peryskop {
  animation-duration: 30s;
  animation-name: observe;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes sunrise {
  from {
    transform: translate(0 0);
  }

  to {
    transform: translate(0, -275px);
  }
}

.sun {
  animation-duration: 25s;
  animation-name: sunrise;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes water-change {
  from {
    fill: #383DBB;
  }

  to {
    fill: #166658;
  }
}

.water {
  animation-duration: 20s;
  animation-name: water-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 15px 13px;
  }

  nav {
    display: inline-block;
    float: right;
  }

  font {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
    margin-bottom: 20px;
  }

  .col-md-4 {
    width: 33.33%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 1024px) {
  .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    width: 100%;
    padding: 0 50px;
  }

nav ul li {
  padding: 0 30px 0 30px;
}

  #my-story h2 {
    margin-top: 0;
  }

  #my-story {
    padding-left: 10px;
  }
}
